body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .top-info {
    position: relative;
    height: 800px;
  }
  
  
  .progress {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .buttons {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .login-button, .signup-button {
    padding: 12px 70px;
    margin: 0 10px;
    color: #144c3c;
    background-color: transparent;
    border: 2px solid #144c3c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
  }

  .login-button:hover, .signup-button:hover {
    background-color: #144c3c;
    color: #ffffff;
  }

  .main {
    position: absolute;
    top: 300px; /* Adjust the top position to align with the bottom of .top-info */
    width: 100%;
    box-sizing: border-box;
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .flower-info {
    margin-bottom: 20px;
  }
  
  .flower-image {
    float: left;
    margin-right: 20px;
  }
  
  .delivery-details,
  .recipient-details,
  .deliver-to {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .continue-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .continue-button:hover {
    background-color: #0056b3;
  }

  .flower-image img {
    max-width: 100px;
    height: auto;
  }